body {
	height: 100vh;
	margin: 0;
	padding: 2em 0;
	box-sizing: border-box;
	background-color: #181818;
	font-family: 'Nunito', Arial;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
}

.title {
	margin-top: 0;
	color: white;
	font-size: 4rem;
}

.add-task {
	display: flex;
	background-color: #292929;
	color: white;
	
	&__input {
		width: 95%;
		padding: 1.2em 2em;
		background-color: inherit;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		border: none;
		outline: none;
		border-radius: 20px;
	}

	&__button {
		width: 5%;
		padding: 0 2em;
		background-color: inherit;
		color: inherit;
		border: none;
		border-radius: 20px;
		font-size: inherit;
		cursor: pointer;

		i {
			transition: transform .5s;

			&:hover {
				transform: rotate(90deg);
				transition: transform .5s;
			}
		}
	}
}

@keyframes appear {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

.tasks {
	margin-top: 2em;
	padding: 1.5em;
	background-color: #292929;
	overflow: hidden;

	&__title {
		margin-top: 0;
		color: white;
		font-size: 2.5rem;
	}

	&__placeholder {
		color: #616161;

		&--no-show {
			display: none;
		}
	}

	&__task {
		display: flex;
		margin-bottom: 1em;
		padding: 1em;
		position: relative;
		background-color: #eebc27;
		border-radius: 5px;
		animation-name: appear;
		animation-duration: 1s;
		transition: .5s background-color;

		&--done {
			background-color: inherit;
			transition: .5s background-color;
		}
	}

	&__name {
		flex-grow: 1;
		margin: 0;

		&--done {
			text-decoration: line-through;
			color: #c7c7c7;
		}
	}

	&__edit-input {
		flex-grow: 1;
		background-color: inherit;
		border: none;
		outline: none;
		font-size: .9em;
		font-family: inherit;
	}

	&__done {
		margin-right: .5em;
		text-align: left;
		background-color: unset;
		color: #faf6ee;
		cursor: pointer;

		&:hover {
			color: #82c91e;
		}
	}

	&__delete {
		margin-left: .5em;
		padding: 0;
		text-align: center;
		background-color: unset;
		color: #faf6ee;
		cursor: pointer;

		&:hover {
			color: red;
		}
	}
}

@media (max-width: 768px) {
	.wrapper {
		width: 80%;
	}

	.add-task__button:hover {
		transform: rotate(0);
	}

	.tasks {
		&__done:hover {
			color: inherit;
		}

		&__delete:hover {
			color: inherit;
		}
	}
}

@media (max-width: 425px) {
	.wrapper {
		width: 90%;
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 1.2rem;
	}
}

@media (min-width: 2000px) {
	html {
		font-size: 1.8rem;
	}
}